body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}

nav {
    background: #222;
    color: white;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
}

main h1 {
    font-size: 50px;
}

.button {
    display: inline-block;
    background: #222;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.delete-button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #c0392b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background: #a93226;
}